@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note {
  display: flex;
  align-items: center;
  justify-content: space-between;

  strong {
    margin-right: 1rem;
  }
}

.alert {

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: ease 250ms;
  }

  &-exit-active {
    opacity: 0;
    transition: ease 250ms;
  }
}

@keyframes note {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: .7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

.note {

  &-enter-active {
    animation: note .35s alternate-reverse;
  }

  &-exit-active {
    animation: note .35s forwards;
  }
}